//- extends partial/default.jade
//- block content
//-   h1 TEST
//-   #content
//-     my-button

extends partial/default.jade
block content
  .container
    .Card.u-textCenter
      .Card-img.u-padAll
        img.img-medium(src="asset/img/icon/hotel-2.svg", alt="")
      .Card-content.u-padAll
        h4 Hotel Reservations
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus vero libero sunt facere, impedit, quod harum eveniet eligendi, iure voluptate hic esse consectetur distinctio. Laborum repellat fuga deleniti eaque distinctio!
