footer.Main-footer.u-bgSecondary#mainFooter
  .container.u-padAll
    .Grid.Grid--withGutter.Grid--alignCenter
      .Grid-cell
        .u-marBot.u-bgPrimary.u-softRound 
          form(action="")
            h4.u-textCenter.u-marBottom--third.u-textCapital Get Our Special Promo directly in your inbox
            .Grid.Grid--withGutter.Grid--alignMiddle
              .Grid-cell.u-size6of8
                input.u-sizeFull(type="text",placeholder="enter your email here")
              .Grid-cell.u-size2of8
                button.u-sizeFull.Button.Button--secondary.Button--soft.u-textTruncate Join Now

      .Grid-cell.u-md-size1of2.u-lg-size1of4.u-marBot
        h5.u-padTall--third Secured Transaction
        ul.List-PaymentLogo
          li
            img.img-small(src="asset/img/pay/rapid.gif", alt="")
          li
            img.img-small(src="asset/img/pay/norton.png", alt="")

      .Grid-cell.u-md-size1of2.u-lg-size1of4.u-marBot
        h5.u-padTall--third We Accept
        ul.List-PaymentLogo
          li.u-padTall--third
            img(src="asset/img/pay/visa.png", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/mc.png", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/ae.png", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/wu.png", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/paypal.png", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/bca.jpg", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/bni.jpg", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/mandiri.jpg", alt="")
          li.u-padTall--third
            img(src="asset/img/pay/lipo.jpg", alt="")

      .Grid-cell.u-size1of2.u-md-size1of2.u-lg-size1of4.u-marBot
        h5.u-padTall--third About Us
        ul
          li.u-padTall--third
            a(href="#") Profil Perusahaan
          li.u-padTall--third
            a(href="#") kemitraan
          li.u-padTall--third
            a(href="#") Kontak Kami
    
      .Grid-cell.u-size1of2.u-md-size1of2.u-lg-size1of4.u-marBot
        h5.u-padTall--third Other
        ul
          li.u-padTall--third
            a(href="#") Blog
          li.u-padTall--third
            a(href="#") Info Promo
          li.u-padTall--third
            a(href="#") Privacy Policy
          li.u-padTall--third
            a(href="#") Terms & Condition
  .copyright.u-bgPrimary
    .container.u-padAll
      p.zeta © PT.LALA Indonesia | 2016. All Rights Reserved
