header.MainHeader
  .container
    .logo
      h1 logo
    nav.MainNav
      ul
        li
          a.MainNav-topLink(href="index.html") Home
        li 
          a.MainNav-topLink(href="reservation.html") Reservation
          ul.MainNav-subList
            li
              a(href="") Flight Reservation
            li
              a.MainNav-subListLink(href="")
                .u-padAll
                  img.img-medium(src="asset/img/icon/hotel-2.svg", alt="")
                .u-padAll
                  h4 Hotel Reservation
            li
              a(href="") Car Rental
        li 
          a.MainNav-topLink(href="holiday.html") Holiday
          ul.MainNav-subList.u-hidden
            li
              a(href="") Inbound Package
            li
              a(href="") Outbound Package
        li
          a.MainNav-topLink(href="products.html") Products
          ul.MainNav-subList.u-hidden
            li
              a(href="") Travel Booking Engine
            li
              a(href="") B2B & B2C Airlane Reservation
            li
              a(href="") Travel Accounting Software
        li
          a.MainNav-topLink(href="about.html") About Us
          ul.MainNav-subList.u-hidden
            li
              a(href="") Company Profile
            li
              a(href="") Kemitraan
            li
              a(href="") Contact Us
