.Button {
  padding: 0.7rem 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 2px;
}

.Button--primary {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}

.Button--primary:hover,
.Button--primary:focus {
  color: rgba(255,255,255,.78)
}






.Button--primaryLine {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}


.Button--secondary {
  background-color: var(--secondary-color);
  color: rgba(0,0,0,.87);
  border: 1px solid var(--secondary-color);
}

.Button--transparent {
  border: 0;
  background-color: transparent;
}


.Button--small {
  font-size: 0.65rem;
  padding: 0.5rem
}



.Button--checkbox {
  border: none;
  text-align: left;
  padding-left:0;
  padding-right: 0;
  text-transform: capitalize;
  letter-spacing: 0;
  color: rgba(0,0,0,.54);
}

.Button--checkbox input[type="checkbox"]{
  visibility: hidden;
  display: none;
}

.Button--checkbox input[type="checkbox"]:checked + label{
  color: rgba(0,0,0,.87);
}

.Button--modalExit {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  color: rgba(255,255,255,.87);
  border: 0;
  border-radius: 0;
}












.Button--increase {
  background-color: var(--primary-color);
  border-radius: 4px;
  border: 0;
  padding: 1px;
}

.Button--increase input[type="number"] {
  border: 0;
  border-radius: 0
}

.Button--increase .Arrange-sizeFit {
  background-color: var(--primary-color);
}

.Button--increase .Arrange-sizeFill {
  background-color: #fff;
}

.Button--increase .Button {
  border: 0;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  background-color: transparent;
  color: rgba(255,255,255,0.87);
}
